<h1>{{uf}}</h1>
<h2>{{nStudenti}}</h2>
<h3>Unità formativa {{uf}} - numero studenti: {{nStudenti}}</h3>

@if(nStudenti === studentiTotli){
  <p>Sono tutti presenti!</p>
}@else {
  <p>
    Non sono tutti presenti.
    Studenti mancanti: {{nStudenti - studentiTotli}}
  </p>
}
<div>
  <h3>Lista Studenti:</h3>
  <ul>
    @for (std of listaStudenti; track $index) {
      <li>{{stampaStudente(std,$index)}}</li>
    <!--In questo modo se la lista è vuota, inserirà il contenuto di questo blocco-->
    }
  </ul>
<h3>Studenti Presenti:</h3>
  <ul>
    @for (std of listaStudentiPresenti; track $index) {
      <li>{{stampaStudente(std,$index)}}</li>
    <!--In questo modo se la lista è vuota, inserirà il contenuto di questo blocco-->
    }@empty {
      <h4>Nessuno studente presente</h4>
    }
  </ul>
</div>
<br>
<br>
<h1>Nome: {{studente1.nome}}</h1>
<h1>Cognome: {{studente1.cognome}}</h1>
<h1>Matricola: {{studente1.matricola}}</h1>
@if (studente1.attivo){
  <h1>Attivo: Sì</h1>
}@else {
  <h1>Attivo: NO</h1>
}
<br>
<ul>
  @for (std of listaOggettiStudenti; track $index) {
    <li><h3>Nome: {{std.nome}}</h3>
      <h3>Cognome: {{std.cognome}}</h3>
      <h3>Matricola: {{std.matricola}}</h3>
      @if (std.attivo){
        <h3>Attivo: Sì</h3>
      }@else {
        <h3>Attivo: NO</h3>
      }</li>
  }
</ul>
<br>
<h1>Fatto con un component:</h1>
<ul>
@for (std of listaOggettiStudenti; track $index){
  <app-item-list [studente]="std"></app-item-list>
}
</ul>
